.mainContainer {
    display: block;
    height: calc(100vh - 2.4rem);
    width: 100vw;

    @media (max-width: 760px) {
        margin: .5rem;
    }
}

.mainGrid {
    position: relative;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    height: 100%;

    & .gridElementLeft {
        display: flex;
        position: absolute;
        flex-direction: column;

        grid-area: 1 / 1 / 2 / 2;

        width: 100%;

        left: 5%;
        top: 40%;

        @media (max-width: 760px) {
            left: 3%;
            top: 20%;
        }

        & p {
            display: block;
            margin-top: 2rem;
            font-size: 20px;
            line-height: 150%;

            @media (max-width: 760px) {
                width: 90%;
            }
        }
    }

    & .gridElementRight {
        height: 100%;
        grid-area: 1 / 2 / 3 / 3;
    }

    @media (max-width: 760px) {
        display: block;
        padding: 1rem;
    }
}

h1.mainTitle {
    font-size: 75px;
    font-weight: 300;

    & span.changingText {
        color: var(--primary-dark);
        font-weight: 900;
    }

    @media (max-width: 760px) {
        font-size: 50px;
    }
}

span.importantMessage {
    background-position-y: -0%;
    background-image: linear-gradient(180deg, transparent 50%, var(--text-dark) 50%) !important;
    transition: all 0.1s ease;
    background-size: 2px;
    background-size: auto 190%;
    padding: 3px;
    text-decoration: none;
    color: inherit;

    &:hover {
        background-position-y: 100%;
        color: var(--text-light);
        transition: all 0.1s ease;
    }
}

.mouseSvgContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    transform: translateY(-100px);
}

.mouseSvg {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
    transition: 1s all;

    & div {
        display: block;
        font-weight: 100;
        font-size: 12px;
        padding-top: 10px;
        text-transform: uppercase;
    }

    &:hover {
        transform: translateY(-10px);
        color: var(--text-dark);
    }
}

section {

    &.languagesSection {

        position: relative;
        z-index: 2;

        & .languagesSubSection {
            background-color: var(--primary-dark);
            transform: translate(0, 0) rotate(2deg) skewX(0) skewY(0) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            overflow: hidden;
            position: absolute;

            padding-top: 1rem;
            padding-bottom: 1rem;

            width: 100%;

            & .languagesCaroussel {
                transition-duration: .2s;
                transition-property: all;
                transition-timing-function: cubic-bezier(.4,0,.2,1);

                text-transform: uppercase;
                font-weight: 800;
                white-space: nowrap;

                display: flex;
                align-items: center;
                justify-content: center;

                & span.languagesAnimation {
                    &:hover {
                        --tw-scale-y: -1;
                    }

                    animation: languages 30s linear infinite alternate;
                    letter-spacing: .1em;
                    font-size: 40px;
                    
                    @keyframes languages {
                        0% {
                            transform:translate(0)
                        }
                    
                        to {
                            transform:translate(-40%)
                        }
                    }
        
                }

            }
        }
    }

    &.skillsSection {
        z-index: 1;

        overflow: hidden;
        position: relative;

        max-width: 64rem;
        width: 100%;

        padding-left: 2rem;
        padding-right: 2rem;

        margin-left: auto;
        margin-right: auto;

        @media (min-width: 760px) {
            overflow: visible;

            padding-top: 9rem;
            padding-bottom: 9rem;
        }

        & .skillsSubSection {
            z-index: 2;
            position: relative;

            & p {
                text-align: center;
                
                &.sectionName {
                    text-transform: uppercase;

                    margin-bottom: 1rem;

                    font-size: .875rem;
                    font-weight: 800;
                    line-height: 1.25rem;
                }

                &.sectionTitle {
                    line-height: 1.375;
                    font-weight: 700;
                    font-size: 3rem;
                }
            }

            & .skillsGrid {
                display: grid;
                position: relative;

                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2.5rem;

                width: 100%;
                max-width: 64rem;

                margin-left: auto;
                margin-right: auto;

                margin-top: 5rem;
                
                @media (min-width: 760px) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }

                & .skillsGridElement {
                    z-index: 1;

                    padding: 1.5px;
                    border-radius: .8rem;

                    overflow: hidden;
                    position: relative;

                    display: flex;
                    justify-self: center;

                    & .skillsGridElementContainer {
                        z-index: 1;

                        border-width: 1px;
                        border-radius: .75rem;
                        border-style: solid;
                        border-color: rgb(255 255 255/0.1);
                        
                        padding: 1rem;

                        background-color: rgb(255 255 255/0.1);

                        overflow: hidden;
                        position: relative;
                        cursor: pointer;

                        & hr {
                            border-color: rgb(255 255 255/.1);
                        }

                        & .skillElementImageContainer {
                            
                            & img {
                                width: 30vh;
                                height: 30vh;
                            }

                        }

                        & .skillElementDescriptionContainer {
                            padding-top: 1rem;
                            padding-bottom: 1rem;

                            & p.skillElementNote {
                                font-size: 1rem;
                                font-weight: 500;
                                line-height: 1.5rem;

                                text-align: left;

                                color: var(--primary-dark);
                            }

                            & p.skillElementName {
                                text-align: left;

                                font-size: 1.875rem;
                                line-height: 2.25rem;
                                font-weight: 700;
                            }
                        }
                    }

                    & i {
                        pointer-events: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        padding: 1.5px;
                        transition-property: all;
                        transition-timing-function: cubic-bezier(.4,0,.2,1);
                        transition-duration: .2s;
                        -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        border-radius: inherit;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            display: block;
                            border-radius: 9999px;
                            opacity: 0;
                            background: conic-gradient(from 180deg at 50% 50%, #ffc8752c 0deg, #ffeaca 10deg, #ffc875 25deg, #a787ff 112.5deg, #66e3ff 203.75deg, #d2f7ff 213.75deg, #66e3ff 228.75deg, rgba(42, 138, 246, 0) 1turn);
                            width: calc(100% * 2);
                            padding-bottom: calc(100% * 2);
                            transform: translate(-50%, -50%);
                            z-index:-1;
                            opacity: 1;
                            animation: spin__animation 5s linear infinite;

                            @keyframes spin__animation {
                                0% {
                                    transform:translate(-50%, -50%) rotate(1turn)
                                }
                            
                                to {
                                    transform:translate(-50%, -50%) rotate(0)
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }

}