.footerContainer {
    background-color: var(--background-dark);
    margin: 2rem;
    display: flex;
    justify-content: space-around;

    @media (max-width: 760px) {
        flex-direction: column;
    }

    & .leftFooter, .rightFooter {
        display: block;

        @media (max-width: 760px) {
            margin-top: 1rem;
        }
    }

    & p {
        line-height: 1.375rem;
        color: #7A7F86;

        &.footerName {
            color: white;
            text-transform: uppercase;

            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5rem;
        }
    }
}